*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;

}

#main{
    height:100%;
    width: 100%;
    
    
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform translate(-50%,-50%);
    height: 400px;
    width: 300px;
    border: solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items:center ;
    overflow: hidden;
}
#c1{
    z-index: 4;
    transform: translate(-50%,-50%);
}
#c2{
    z-index: 3;
    transform: translate(-50%,-50%);rotate: -7deg;
}

#c3{
    z-index: 2;
    transform: translate(-50%,-50%);rotate: -14deg;
}
#c4{
    z-index: 1;
    transform: translate(-50%,-50%);rotate: -21deg;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform-origin: center;
    
}
#c2:hover{
    z-index: 10;
    
}
#c3:hover{
    z-index: 10;
    
}
#c4:hover{
    z-index: 10;
    
}